<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="visual" translate="label" sortOrder="101">
            <label>Epicom</label>
        </tab>
        <section id="admincolors" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Cores da Loja</label>
            <tab>visual</tab>
            <resource>Epicom_AdminColors::colors_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cores Predominantes</label>
                <field id="primaryColor" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Escolha a cor principal da sua loja</label>
                    <frontend_model>Epicom\AdminColors\Block\Color</frontend_model>
                    <comment>A cor principal é a cor predominante no seu tema, ela sera aplicada nas áreas de destaque como títulos, links, preços, tags, ícones e botões principais.</comment>
                </field>
                
                <field id="secondaryColor" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Escolha a cor secundária da sua loja</label>
                    <frontend_model>Epicom\AdminColors\Block\Color</frontend_model>
                    <comment>A cor principal é a cor predominante no seu tema, ela sera aplicada nas áreas de destaque como títulos, links, preços, tags, ícones e botões principais.</comment>
                </field>
            </group>
        </section>
    </system>
</config>