<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <admincolors>
            <general>
                <primaryColor>#c32d60</primaryColor>
                <secondaryColor>#231b32</secondaryColor>
            </general>
            <header>
            	<headerBackground>#fff</headerBackground>
            	<headerColor>#000</headerColor>
            </header>
            <nav>
            	<navBackground>#f0f0f0</navBackground>
            	<navColor>#575757</navColor>
            </nav>
            <footer>
            	<footerBackground>#f4f4f4</footerBackground>
            	<footerColor>#000</footerColor>
            </footer>
        </admincolors>
    </default>
</config>